#node1
{
	background-color: #BAE568;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
}
#node2
{
	background-color: #BAE568;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
}
/* #node7
{
	background-color: #556C23;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
} */
#parent
{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	grid-template-areas: 
	"calendar TaskName last7D btn"
	"MyTasks productivity form";
	gap: 50px;
	width: 65%;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;

}
/* #parentCal 
{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
} */
#node8
{
	grid-area: calendar;
	width: 317px;
	height: 600px;
	background-color: #BAE568;
	margin-bottom: 25px;
}
/* #parentEles
{
	display: grid;
	grid-template-columns: 50% 50% 50% 1%;
	grid-template-rows: 50px 300px;
	grid-template-areas: 
	"TaskName last7D btn"
	"MyTasks productivity form"
	;
	gap: 25px;
	width: 65%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
} */
#node9
{
	grid-area: TaskName; 
	position: relative;
	background-color: #BAE568;
	height: 50px;
}
#node10
{
	grid-area: MyTasks;
	height: 300px;
	background-color: #22882B;
	align-self: center;
}
#node11
{
	grid-area: productivity;
	height: 300px;
	background-color: #556C23;
}
#node12
{
	grid-area: last7D;
	position: relative;
	height: 50px;
	background-color: #BAE568;
}
#node13
{
	grid-area: btn;
	height: 60px;
	width: 75%;
	margin-top: 50px;
    background-color: #8E1AD8;
}
.container
{
	grid-area: form;
}
