#node1
{
	background-color: #BAE568;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
}
#node2
{
	background-color: #BAE568;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
}
/* #node7
{
	background-color: #556C23;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
} */
#parent
{
	display: flex;

}
/* #parentCal 
{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} */
#parentEles
{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 50px 300px;
	grid-template-areas: 
	"calMonth TaskName last7D"
	"calendar MyTasks productivity"
	;
	gap: 25px;
	width: 65%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#calMonth
{
	grid-area: calMonth;
	position: relative;
	
	background-color: #BAE568;
	margin-bottom: 50px;
}
#node8
{
	grid-area: calendar;
	width: 400px;
	height: 300px;
	background-color: #BAE568;
	margin-bottom: 25px;
}
#node9
{
	grid-area: TaskName; 
	position: relative;
	/* background-color: #BAE568; */
	height: 50px;
}
#node10
{
	grid-area: MyTasks;
	height: 300px;
	background-color: #BAE568;
	align-self: center;
}
#node11
{
	grid-area: productivity;
	height: 300px;
	background-color: #BAE568;
}
#node12
{
	grid-area: last7D;
	position: relative;
	height: 50px;
	/* background-color: #BAE568; */
}
#node13
{
	display: flex;
	height: 60px;
	width: 75%;
	margin-top: 25px;
    background-color:#fff;
    align-self: flex-end;
}
.app
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.base-timer {
	position: relative;
	width: 300px;
	height: 300px;
  }
  
  .base-timer__svg {
	transform: scaleX(-1);
  }
  
  .base-timer__circle {
	fill: none;
	stroke: none;
  }
  
  .base-timer__path-elapsed {
	stroke-width: 7px;
	stroke: grey;
  }
  
  .base-timer__path-remaining {
	stroke-width: 7px;
	stroke-linecap: round;
	transform: rotate(90deg);
	transform-origin: center;
	transition: 1s linear all;
	fill-rule: nonzero;
	stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
	color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
	color: orange;
  }
  
  .base-timer__path-remaining.red {
	color: red;
  }
  
  .base-timer__label {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
  }