/* #node1
{
	background-color: #BAE568;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
	font-size: large; 
} */
#full-page
{
	padding: 10px;
	background-image: url("https://images.unsplash.com/photo-1598540892016-58697e3ebd1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=478&q=80");
	background-repeat: no-repeat;
}
#node2
{
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
	text-align: right;
	font-size: large;
}
/* #node7
{
	background-color: #556C23;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
} */
#parent
{
	display: flex;
	background-color: #fff;
	opacity: 0.7;
	border-radius: 15px;

}
/* #parentCal 
{
	width: 35%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} */
#parentEles
{
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 50px 300px;
	grid-template-areas: 
	"calMonth TaskName last7D"
	"calendar MyTasks productivity"
	;
	gap: 25px;
	width: 65%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
#calMonth
{
	grid-area: calMonth;
	position: relative;
	
	background-color: #fff;
	margin-bottom: 50px;
}
#calMonth:hover
{
	opacity: 1.0;
}
#node8
{
	grid-area: calendar;
	width: 400px;
	height: 300px;
	background-color: #fff;
	margin-bottom: 25px;
	border-radius: 15px;
	opacity: 0.6;
}
#node9
{
	grid-area: TaskName; 
	position: relative;
	/* background-color: #BAE568; */
	height: 50px;
}
#node10
{
	grid-area: MyTasks;
	height: 300px;
	background-color: #fff;
	align-self: center;
	border-radius: 15px;
	opacity: 0.6;
}
#node11
{
	grid-area: productivity;
	height: 300px;
	background-color: #fff;
	border-radius: 15px;
	opacity: 0.6;
}
#node12
{
	grid-area: last7D;
	position: relative;
	height: 50px;
	/* background-color: #BAE568; */
}
#node13
{
	display: flex;
	height: 60px;
	width: 60%;
	margin-left: 250px;
	margin-right: 200px;
	margin-top: 25px;     
	align-self: flex-end;
	justify-content: center;
}
.container 
{
	padding: 10px;
	margin-left: 600px;
	margin-right: 400px;
}
.app
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.base-timer {
	position: relative;
	width: 300px;
	height: 300px;
  }
  
  .base-timer__svg {
	transform: scaleX(-1);
  }
  
  .base-timer__circle {
	fill: none;
	stroke: none;
  }
  
  .base-timer__path-elapsed {
	stroke-width: 7px;
	stroke: grey;
  }
  
  .base-timer__path-remaining {
	stroke-width: 7px;
	stroke-linecap: round;
	transform: rotate(90deg);
	transform-origin: center;
	transition: 1s linear all;
	fill-rule: nonzero;
	stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
	color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
	color: orange;
  }
  
  .base-timer__path-remaining.red {
	color: red;
  }
  
  .base-timer__label {
	position: absolute;
	width: 300px;
	height: 300px;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
  }
  #new-task-btn {
	border: 0 solid;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
	outline: 0.2px solid;
	outline-color: rgba(255, 255, 255, 0.5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	width: 100px;
	height: 50px;
	border-radius: 5px;
  }
  #new-task-btn:hover{
	border: 1px solid;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
	outline-color: rgba(255, 255, 255, 0);
	outline-offset: 15px;
	text-shadow: 0.5px 0.5px 1px #427388;
	width: 100px;
	height: 50px;
	border-radius: 5px;
  }
  /*
  FOCUS LOGO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
  */
  body {
	background: #72b565;
  }
  .wrapper {
	margin-left: 30px;
	height: 50px;
	width: 100%;
	margin-bottom: 50px;
	position: absolute;
	left: 50%;
	top: 5%;
	transform: translate(-50%, -50%);
	/* width: 235px;
	height: 70px; */
	white-space: nowrap;
  }
  .focus {
	padding: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-family: Arial;
	text-transform: uppercase;
	letter-spacing: 2px;
	filter: blur(3px);
	font-size: 65px;
	opacity: 0.6;
	color: #fff;
  }
  .mask {
	position: absolute;
	left: -5px;
	top: -2px;
	width: 70px;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 65px;
	clip: rect(0px, 70px, 75px, 0px);
	background: linear-gradient(#fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(to right, #fff, #fff 0) bottom left no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) bottom right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat, linear-gradient(#fff, #fff 0) top right no-repeat;
	background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
	color: #fff;
	padding: 5px;
	transform: translateX(0);
	box-sizing: border-box;
	animation: mask 2.5s ease infinite alternate;
  }
  .text {
	transform: translateX(0);
	animation: text 2.5s ease infinite alternate;
  }
  @keyframes mask {
	to {
	  transform: translateX(170px);
	}
  }
  @keyframes text {
	to {
	  transform: translateX(-170px);
	}
  }